{% extends "mainApp/wrapper.html" %}

{% block content %}
<title>Главная</title>
    <!-- Masthead-->
        <header data-aos="fade-up" class="masthead bg-primary text-white text-center">
            <div class="container d-flex align-items-center flex-column">
                <!-- Masthead Avatar Image-->
                <img  class="masthead-avatar mb-5" src="https://thumbs.dreamstime.com/b/fishing-vintage-template-largemouth-bass-line-hook-vector-illustration-185217493.jpg" alt="" />
                <!-- Masthead Heading-->
                <h2 class="masthead-heading text-uppercase mb-0">Делитесь вашими рассказами </h2>
                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Masthead Subheading-->
                <p class="masthead-subheading font-weight-light mb-0">Карась  - Пиво - Рыбалка</p>
            </div>
        </header>
{% endblock %}