{% extends "mainApp/wrapper.html" %}

{% block content %}
<title>Главная</title>
<div class="container">
    <div class="d-md-block">
        <h3 class="blue" style="background-color: #5385bb; padding: 10px">
            <a
                    href="/news" class="btn btn-primary btn-lg "
                    style="background: #5385bb; border-color: #5385bb"
                    title="Рыбалка в Беларуси весной | Рыбалка в Беларуси летом | Рыбалка в Беларуси осенью | Рыбалка в Беларуси зимой">Рыбалка в Беларуси
            </a>

        </h3>
    </div>
</div>
{% endblock %}