<!DOCTYPE html>
<html>
   <title>
    	Наука.ру - главная
    </title>
    <body>
        <style>
    	    h1{text-align:center;color:white;}
            h3{text-align:center;color:white;}
            body{background-image:url("https://www.dw.com/image/18777618_303.jpg");width: 100%;background-size: cover;}

        </style>

    	<div class="row" style="text-align: left" >
			<div class="col-3" style="text-align: left">
				<h1>Ошибка 500</h1>
			</div>
		</div>
	</body>
</html>
