{% extends "mainApp/wrapper.html" %}


{% block content %}
<title>Страница редактирования</title>


    {% if success %}
<p>Запись добавлена</p>
    {% endif %}

    {% if messages %}
    <div class="alert alert-success" data-aos="fade-up-right">
        {% for i in messages %}
            {{i}}
        {% endfor %}
    </div>
    {% endif %}



    {% if update %}
<div data-aos="fade-left" style="align-content: center;background: #09607c; border-radius: 15px" class="m-5 p-2">
    <p>Страница редактирования</p>
    <a class="btn btn-info" href="/news/edit-page">Вернуться назад</a>
    {% if success_update %}
            <p>Запись обновлена</p>
        {% endif %}
    <form style="text-align: start" id="update_form" method="post">
                {% csrf_token %}
                {{form}}
            </form>
    <button form="update_form" type="submit" class="btn btn-secondary">Сохранить</button>
</div>
    {% else %}

<button data-aos="fade-down" type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
  Создать
</button>
<a class="btn btn-secondary" data-aos="fade-down" href="/news">Вернуться назад</a>
<div class="table-responsive">
<table data-aos="fade-right" class="table overflow-auto" >
  <thead>
    <tr >
      <th>#</th>
        <th>Заголовок</th>
        <th>Автор</th>
        <th>Дата</th>
        <th>Редактировать</th>
        <th>Удалить</th>
    </tr>
  </thead>
  <tbody >
  {% for i in list_articles %}
    {% if request.user == i.author %}

    <tr {% if i.id == request.GET.id|add:'0' %} style="background: #d5eedb" {% endif %}>
      <th>{{i.id}}</th>
      <td style="text-align: left"><a class="btn btn-light" href="/news/{{i.id}}">{{i.title}}</a></td>
      <td>{{i.author}}</td>
      <td>{{i.date|date:"d-m-Y"}}</td>
      <td><a class="btn btn-info" href="{% url 'update_page' i.id %}">Редактировать</a></td>

      <td>
          <form id="delete_form{{i.id}}" action="{% url 'delete_page' i.id %}" method="post">{% csrf_token %}</form>
          <a class="btn btn-danger" href="javascript:void()" onclick="delete_question{{i.id}}()">Удалить</a>
            <script>
                function delete_question{{i.id}}() {
                    if(confirm("Вы уверены?")){
                        document.getElementById('delete_form{{i.id}}').submit()
                    }
                }

            </script>
      </td>
    </tr>
  {% endif %}

  {% endfor %}

  </tbody>
</table>
</div>

{% endif %}



<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="background: #09607c">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Создание статьи</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form id="add_form" enctype="multipart/form-data" method="post" style="text-underline-color: #0e6251 ">

            {% csrf_token %}
            {{form.as_table}}
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
        <button form="add_form" type="submit" class="btn btn-primary">Добавить</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}
