{% extends "mainApp/wrapper.html" %}

{% block content %}
<title>{{get_article.title}}</title>

    <h2 class="text-info">{{get_article.title}}</h2>
    <h6 class="text-info">Опубликовано: {{get_article.date|date:"Y-m-d в H:i:s"}}</h6>
    <p>{{get_article.post|safe|linebreaks}}</p>
{% if get_article.image_p %}
    <p>Изображение {{articles.image_p.path}}</p>
    <img src="{{MEDIA_URL}}{{get_article.image_p.url}}">
{% endif %}
    <p>Комментарии {{get_article.comments_articles.all.count}}</p>

    <hr>

<ul>
{% for i in get_article.comments_articles.all %}

<li>
    {{i.create_date}}<br>
    <img src="{{MEDIA_URL}}{{i.author.profile.profile_avatar.url}}" height="40" width="40">
    <a href="/news/profile_page/{{i.author.profile.id}}/">{{i.author}}</a><br><br>

    {{i.text}}
</li>
    <hr>
{% endfor %}
</ul>



{% if messages %}
    <div class="alert alert-success">
        {% for i in messages %}
            {{i}}
        {% endfor %}
    </div>
    {% endif %}

{% if request.user.is_authenticated %}
<div class="col-4">
    <p>Добавить комментарий</p>
        <form action=""  id="add_form" method="post">
            {% csrf_token %}
            {{form.as_p}}
        </form>

        <button form="add_form" type="submit" class="btn btn-primary">Добавить</button>

</div>
    {% else %}
<p>Комментарии могут оставить только зарегистрированные пользователи</p>
 {% endif %}
{% endblock %}