{% extends "mainApp/wrapper.html" %}

{% block content %}
<title>{{get_profile.user.username}}</title>

{% if not request.user.profile.verified %}

<div class="container text-center" style="alignment: center">
    <h1 style="alignment: center">Проверьте почту чтобы подтвердить аккаунт</h1>
</div>

{% else %}

<body>
<div class="container">
        <h2 data-aos="fade-down" >{{ get_profile.user.get_full_name }}</h2>
        {% if request.user.profile.id == get_profile.user.profile.id %}
        <h3 data-aos="fade-down" ><a class="btn btn-light" href="/news/edit/">изменить профиль</a></h3>
        {% endif %}
        <div class="row">
            <div class="col-md-4">

    {% if get_profile.user.profile.profile_avatar %}
          <img data-aos="fade-right" src="{{MEDIA_URL}}{{get_profile.user.profile.profile_avatar.url}}" class="img-thumbnail" height="300" width="300">
    {% endif %}
            </div>
            <div data-aos="fade-left" class="col-md-6">
        <ul>
          <li>Имя Пользователя: {{ get_profile.user.username }}</li>
          <li>Статус: {{ get_profile.user.profile.bio }}</li>
          <li>Место положения: {{ get_profile.user.profile.location }}</li>
          <li>Дата рождения: {{ get_profile.user.profile.birth_date }}</li>
        </ul>
        </div>
    </div>
</div>
</body>

{% endif %}

{% endblock %}
